:root{
    --background: #ffffff;
    --background-dish: #c2c2bc;
    --about-hover: #3f3f3f;
    --background-button: #202020;
    --btn: #c9c9c9;
    --btn-hover: #ffffff;
    --text-color: #ffffff;
    --footer:#e0e0e0;
}
body{
    background-color: var(--background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}
nav{
    display: flex;
    justify-content: flex-end;
}
.navs{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navs a{
    padding: 8px 18px;
    border-radius: 25px;
    background-color: var(--background-button);
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
.welcome , .about, .vision{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: var(--about-hover);
    border-radius: 25px;
    margin: 30px;
    padding: 20px;
}
img{
    width: 200px !important;
    height: 200px !important;
    height: auto;
    object-fit: cover;
    border-radius:50%;   
    transition:600ms ease;
}
img:hover{
    transform: scale(1.1);
}
footer{
    background-color: var(--footer);
    color: black;
    padding: 25px 20px;
    font-size: 16px;
    margin-top: 50px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
}
a:hover{
    color: var(--btn-hover);
}
