:root{
    --background: #ffffff;
    --background-dish: #c2c2bc;
    --food-hover: #3f3f3f;
    --background-button: #202020;
    --btn: #c9c9c9;
    --btn-hover: #ffffff;
    --text-color: #000000;
    --footer:#e0e0e0;
}
body{
    background-color: var(--background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}
nav{
    display: flex;
    justify-content: flex-end;
}
.navs{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navs a{
    padding: 8px 18px;
    border-radius: 25px;
    background-color: var(--background-button);
    color: white;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
.intro{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('images/imagesback.jpg');
    background-size:cover;

    height: 80vh;
    background-attachment: fixed;
    transition: 300ms ease; 
}
.specials{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    transition: 300ms ease; 
}
h3{
    text-align: center;
    font-size: 35px;
}
.food{
    text-align: center;
    background-color: var(--background-dish);
    padding: 15px;
    border-radius:50px;
    position: relative;
    font-size: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: 300ms ease;
}
.food:hover{
    background-color: var(--food-hover);
}
.specials img{
    width: 200px !important;
    height: 200px !important;
    height: auto;
    object-fit: cover;
    border-radius:50%;   
    transition:600ms ease;
}
.specials img:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: var(--text-color);
    transition:300ms ease;
    cursor: pointer;
}
a:hover{
    color: var(--btn-hover);
}
.popup {
    position: fixed;
    inset: 0;                                
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.4);          
    backdrop-filter: blur(5px);              

    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
    z-index: 9999;                           
}
.popup:target {
    visibility: visible;
    opacity: 1;
}
.popup-window {
    background: white;
    position: relative;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
#popup-btn{
    padding: 8px 18px;
    border-radius: 25px;
    background-color: var(--background-button);
    color: white;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    border: none;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.close:hover {
    color: red;
}
footer{
    background-color: var(--footer);
    color: var(--text-color);
    padding: 25px 20px;
    font-size: 16px;
    margin-top: 50px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
}
.bottom{
    text-align: center;
    font-size: 14px;
    color: #555;
}